extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    .table-title
      .row
        .col-sm-9
          h3
            | Expense
        .col-sm-1
          button.btn.btn-info.add-new(type='button')
            i.fa.fa-plus
            |  Add New

  form(action='/expense', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    table.table.table-bordered
      thead
        tr
          th Date
          th Time
          th Description
          th Amount
          th Comment
          th Action
      tbody
        each expense in expenseList
          tr
            td= expense.date
            td= expense.time
            td= expense.description
            td= expense.amount
            td= expense.comment
            td
              a.add(title='Add', data-toggle='tooltip')
                i.material-icons &#xE03B;
              a.edit(title='Edit', data-toggle='tooltip')
                i.material-icons &#xE254;
              a.delete(title='Delete', data-toggle='tooltip')
                i.material-icons &#xE872;
    